body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    font-size: 20px;
    gap: 10px 20px;
}
.logo {
    margin-right: 50px;
    padding: 5px 15px;
    text-decoration: none;
    color: lightgreen;
    background-color: rebeccapurple;
    font-weight: 700;    
}
ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
ul > li {
    margin-right: 30px;
}
ul li:last-child {
    margin-right: 0;
}
.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}
.aside {
    padding: 10px 20px;
    background-color: lavender;
}
.post {
    padding-bottom: 20px;
}

.footer {
    font-size: 13px;
    padding: 0 20px;
}


.link {
    background-color: rebeccapurple;
    color: white;
    padding: 8px 15px;
    margin-left: 10px;   
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
}
section {
    padding: 5px 20px;
    background-color: lavender;
    margin-bottom: 20px;
}
.results {
    display: flex;
    gap: 10px;
}
section > a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
a {    
    text-decoration: none;
    color: rebeccapurple;
    font-weight: 700;       
}